.contact-form {
   align-content:center;
   align-items:center;
}

.forma {
    position: relative;
    width: 50% !important;
    background-color: blueviolet;
    margin: auto;
    border-radius:5px;
    padding: 10px;
}

