.contact-form {
    align-content: center;
    align-items: center;
}

.forma {
    position: relative;
    width: 50% !important;
    background-color: #7BB992;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
}

.timeline-header {
    color: white;
}
.pn-image {
    border-radius: 50%;
    width: 20pt;
    height: 20pt;
}
